body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #4d4d4d;

    background-image: url(../images/background.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 200%;
    position: relative;
    z-index: 1;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-size: 1.75rem;
}
.heading-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.heading-section p {
    margin-bottom: 0;
}
.testimonials-section {
    padding-top: 2rem;
    padding-bottom: 20rem;
    color: #808080;
    background: linear-gradient(180deg, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
}
.testimonials-section .image {
    padding-top: 1rem;
    text-align: center;
}
.testimonials-section img {
    max-width: 200px;
}
.swiper-nav {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}
#chevron-swiper-arrow-left {
    display: inline-block;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 30px;
    height: 30px;
    transform: rotate(-225deg);
  }
#chevron-swiper-arrow-right {
    display: inline-block;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}
@media(min-width: 992px) {
    body {
        background-size: 100%;

    }
    h1 {
        font-size: 2.5rem;
    }
    .heading-section {
        padding-top: 6rem;
    }
    .testimonial {
        display: flex;
        padding: 0 6rem;
    }
    .testimonial .text {
        padding-left: 4rem;
        width: 70%;
        order: 1;
    }
    .testimonial .image {
        width: 30%;
        order: 0;
        display: flex;
        align-items: center;
    }
    .testimonials-section img {
        max-width: 300px;
    }
    .testimonial .content {
        font-size: 1.35rem;
    }
    .swiper-nav {
        bottom: 50%;
        padding: 0 1rem;
    }
    #chevron-swiper-arrow-left,
    #chevron-swiper-arrow-right {
        width: 60px;
        height: 60px;
    }
    .testimonials-section {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, white 45%, white 100%);
        padding-bottom: 40rem;
    }
}
@media(min-width: 1200px) {
    body {
        font-size: 1.15rem;
    }
    .testimonial {
        padding: 0 8rem;
    }
    .testimonial .content {
        font-size: 1.5rem;
    }
    .testimonial .text {
        padding-left: 6rem;
    }
    .swiper-nav {
        bottom: 40%;
    }
    .testimonials-section {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, white 45%, white 100%);
        padding-bottom: 50rem;
    }
}